data/splot_open_dataset/Schema/iDiv-Metadata-Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>   
    <xs:element name="Metadata">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Data_Provider_Contact_Details"
                      type="person">
          </xs:element>
          <xs:element name="Dataset">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Project_or_Workshop_or_Thesis_Title"
                            type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Provide title of your Project/Workshop/Thesis. For sDiv workshop dataset provide full name and code in brackets</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Dataset_Title"
                            type="xs:string">
                  <xs:annotation>
                    <xs:documentation>In this mandatory section some fields are optional. The dataset title should be concise, meaningful, reflecting contents, consistent and typically less than 100 characters. Capitalize first alphabet of the word.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Short_Abstract"
                            type="shortAbstract">
                  <xs:annotation>
                    <xs:documentation>The Abstract is a short summary of the dataset and provides an indication of the content of the dataset. An abstract consists of a few sentences. This field can be up to 100 words.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Keywords"
                            type="xs:string">
                  <xs:annotation>
                    <xs:documentation>The field Keywords contains different keywords that are especially important and/or descriptive for the data set. Provide at least 3 keywords separated by comma (,)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Data_Access_Policy"
                          type="accessPolicy">
                  <xs:annotation>
                    <xs:documentation>Access policy contains information about the access and terms and conditions of use</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Extensive_Description_Of_The_Dataset"
                           type="xs:string"
                           minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>The Description contains more complete information than the abstract and also includes the context in which the dataset was created. The description, if provided, should be an addition to the abstract.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Data_Origin"
                            type="dataOrigin"
                            minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>The field Data origin contains information about how data was collected. Field Survey=Dataset produced from long term monitoring activities executed in the field; Field Experiment= dataset produced from field experiment such as plot based experiments; Laboratory Experiment= Dataset produced from laboratory experiments; Remote Sensing= Dataset produced from remote sensing; Sensor Platform= Dataset produced using sensors such as temperature, humidity etc.; Museum Collection=Dataset generated based on specimens from herbarium or biological collections; Data Compilation=Dataset generated by compiling or combining data from different sources; Literature Research= Dataset produced from literature research.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Other-Specify"
                            type="xs:string"
                            minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Specify If not in the list</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Status_Of_The_Data_Collection"
                            type="statusOfTheDataCollection"
                            minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>The field contains information about the current status of the dataset</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>          
          <xs:element name="Persons_Associated_With_Dataset"
                            type="person_non_men"
                            minOccurs="0"
                            maxOccurs="unbounded">
          </xs:element>
          <xs:element name="Habitat"
                            type="habitat"
                            minOccurs="0">
            <xs:annotation>
              <xs:documentation>The field habitat contains three options that represent the normal habitat of the species that occur in the dataset. Select multiple options if the species in the  dataset belongs to different habitats</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Taxonomic_Scope"
                      type="taxonomicScope"
                      minOccurs="0">
            <xs:annotation>
              <xs:documentation>The field Taxonomic scope contains the names of the highest taxonomic rank of the species that are included in the dataset.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Temporal_Cover"
                      type="temporalCover"
                      minOccurs="0">
            <xs:annotation>
              <xs:documentation>The field refers to temporal resolution of the data. How many times has a certain area been sampled or frequency of observations? This can be weekly, monthly or yearly,...</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Spatial_Cover"
                      type="spatialCover"
                      minOccurs="0">
            <xs:annotation>
              <xs:documentation>The fields refers to the most specific location to which the dataset refers. For local coverage specify locality names with latitude and longitude. Use (+) button to add more localities. Select multiple countries for Multi-national coverage. For continental coverage only provide name of continent in Locality field.</xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element name="Additional_Information"
                      minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="How_To_Cite_Dataset"
                          type="xs:string"
                          minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Specify the way you wish to be credited when people use your dataset. The format is free, iDiv however recommends the following format- Data Creator Names, Year published, Dataset Title, URL.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Dataset_DOI_or_URL"
                            type="xs:string"
                            minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>The DOI field refers to datasets published with DOI via non-iDiv repositories such as Dryad, Figshare etc. Provide URL for the dataset if DOI not available</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Publications_Based_On_This_Dataset"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>The field refers to publications produced based on the dataset. Use (+) button to add more publications</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Projects_That_Are_Related_To_This_Dataset"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>The field Projects that are related to this dataset contains the name of the project under which the dataset was compiled or collected. If the dataset was compiled under several projects, several projects can be separately added.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Comments"
                            type="xs:string"
                            minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>The field contains information on the completeness of the dataset and info not covered in metadata</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="Name"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Full Name of the person filling the metadata form</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email"
                  type="email">
        <xs:annotation>
          <xs:documentation>Primary email of the person filling the metadata form</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Role"
                  type="role">
        <xs:annotation>
          <xs:documentation>Select one or multiple roles based on your association with the dataset. Primary Contact is the person who should be contacted in cases of questions regarding the dataset such as content and access restrictions etc. This is also the person who is most likely to stay associated with the dataset the longest.</xs:documentation>
        </xs:annotation>
      </xs:element>
        <xs:element name="Affiliation"
                    type="xs:string">
          <xs:annotation>
            <xs:documentation>Full name of the institute of the person filling the metadata form</xs:documentation>
          </xs:annotation>
        </xs:element>
      <xs:element name="Country"
                  type="country"
                  default="Germany">
        <xs:annotation>
          <xs:documentation>Select country of your affiliation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Research_Group"
                  type="group">
        <xs:annotation>
          <xs:documentation>Select Group to which you belong. sDiv workshop participants should select sDiv as option even if you are iDiv researcher</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person_non_men">
    <xs:sequence>
      <xs:element name="Name"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Full Name of the person filling the metadata form</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email"
                  type="email"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Primary email of the person filling the metadata form</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Role"
                  type="role"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Select one or multiple roles based on your association with the dataset. Primary Contact is the person who should be contacted in cases of questions regarding the dataset such as content and access restrictions etc. This is also the person who is most likely to stay associated with the dataset the longest.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Affiliation"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Full name of the institute of the person filling the metadata form</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country"
                  type="country"
                  minOccurs="0"
                  default="Germany">
        <xs:annotation>
          <xs:documentation>Select country of your affiliation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Research_Group"
                  type="group_non_men"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Select Group to which you belong. sDiv workshop participants should select sDiv as option even if you are iDiv researcher</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="spatialCover">
    <xs:sequence>
      <xs:element name="Coverage"
                  type="coverage"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Locality_Names"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="unbounded">
      </xs:element>    
      <!--<xs:element name="Decimal_Latitude"
                  minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Decimal_Longitude"
                  minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>-->
      <xs:element name="Country"
                  type="country"
                  minOccurs="0"
                  maxOccurs="unbounded">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="temporalCover">
    <xs:sequence>
      <xs:element name="Date_of_first_Record"
                  type="date"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>The date of the first record of the dataset. Type value for the field Year and pick values from the dropdownlist for the field Month and Day.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date_of_last_Record"
                  type="date"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>The date of the last record of the dataset. Type value for the field Year and pick values from the dropdownlist for the field Month and Day.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Temporal_Resolution"
                  type="temporal"
                  minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="date">
    <xs:sequence>
      <xs:element name="Year"
                  type="xs:integer"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Month"
                  type="month"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Day"
                  type="day"
                  minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="role">
    <xs:sequence>
      <xs:element name="Data_Creator"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Data_Manager"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Data_Owner"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Primary_Contact"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="habitat">
    <xs:sequence>
      <xs:element name="Terrestrial"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Freshwater"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Marine"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taxonomicScope">
    <xs:sequence>
      <xs:element name="Animalia"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Plantae"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Fungi"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Bacteria"
                  type="xs:boolean"
                  minOccurs="0">     
      </xs:element>
      <xs:element name="Virus"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
      <xs:element name="Microorganism"
                  type="xs:boolean"
                  minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="email">
    <xs:annotation>
      <xs:documentation>Email address</xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="group">
    <xs:sequence>
      <xs:element name="Research_Group"
                  type="select_Group">
        <xs:annotation>
          <xs:documentation>Select Group to which you belong. sDiv workshop participants should select sDiv as option even if you are iDiv researcher</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other-Specify"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specify If not in the list</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="group_non_men">
    <xs:sequence>
      <xs:element name="Research_Group"
                  type="select_Group"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Select Group to which you belong. sDiv workshop participants should select sDiv as option even if you are iDiv researcher</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other-Specify"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specify If not in the list</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="temporal">
    <xs:sequence>
      <xs:element name="Temporal_Resolution"
                  type="temporalResolution"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>The field refers to temporal resolution of the data. How many times has a certain area been sampled or frequency of observations? This can be weekly, monthly or yearly,...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other-Specify"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specify If not in the list</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="shortAbstract">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="accessPolicy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open (CC BY 4.0)"/>
      <xs:enumeration value="Restricted"/>
      <xs:enumeration value="Available on Request"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="coverage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local"/>
      <xs:enumeration value="Regional"/>
      <xs:enumeration value="National"/>
      <xs:enumeration value="Continental"/>
      <xs:enumeration value="Multi-National"/>
      <xs:enumeration value="Global"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="temporalResolution">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Quasi continuous less than 1 minute"/>
      <xs:enumeration value="Minute"/>
      <xs:enumeration value="Hour"/>
      <xs:enumeration value="Daily"/>
      <xs:enumeration value="Every two days"/>
      <xs:enumeration value="Week"/>
      <xs:enumeration value="Bi-Weekly"/>
      <xs:enumeration value="Month"/>
      <xs:enumeration value="Twice a year"/>
      <xs:enumeration value="Year"/>
      <xs:enumeration value="Seasonal"/>     
      <xs:enumeration value="Two year"/>
      <xs:enumeration value="Three year"/>
      <xs:enumeration value="Five year"/>
      <xs:enumeration value="Decade"/>
      <xs:enumeration value="Twenty year"/>
      <xs:enumeration value="Twenty-five year"/>
      <xs:enumeration value="Fifty Year"/>
      <xs:enumeration value="Century"/>
      <xs:enumeration value="Not Relevant"/>
      <xs:enumeration value="Other-Specify"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="month">
    <xs:restriction base="xs:string">
      <xs:enumeration value="January"/>
      <xs:enumeration value="February"/>
      <xs:enumeration value="March"/>
      <xs:enumeration value="April"/>
      <xs:enumeration value="May"/>
      <xs:enumeration value="June"/>
      <xs:enumeration value="July"/>
      <xs:enumeration value="August"/>
      <xs:enumeration value="September"/>
      <xs:enumeration value="October"/>
      <xs:enumeration value="November"/>
      <xs:enumeration value="December"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="day">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="16"/>
      <xs:enumeration value="17"/>
      <xs:enumeration value="18"/>
      <xs:enumeration value="19"/>
      <xs:enumeration value="20"/>
      <xs:enumeration value="21"/>
      <xs:enumeration value="22"/>
      <xs:enumeration value="23"/>
      <xs:enumeration value="24"/>
      <xs:enumeration value="25"/>
      <xs:enumeration value="26"/>
      <xs:enumeration value="27"/>
      <xs:enumeration value="28"/>
      <xs:enumeration value="29"/>
      <xs:enumeration value="30"/>
      <xs:enumeration value="31"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="select_Group">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sDiv"/>
      <xs:enumeration value="yDiv"/>
      <xs:enumeration value="Biodiversity Conservation"/>
      <xs:enumeration value="Biodiversity Economics"/>
      <xs:enumeration value="Biodiversity Synthesis"/>
      <xs:enumeration value="Biodiversity Informatics Unit (BDU)"/>
      <xs:enumeration value="Bioinformatics Unit (BIU)"/>
      <xs:enumeration value="Ecosystem Services"/>
      <xs:enumeration value="Experimental Interaction Ecology"/>
      <xs:enumeration value="Molecular Interaction Ecology"/>
      <xs:enumeration value="Physiological Diversity"/>
      <xs:enumeration value="Spatial Interaction Ecology"/>
      <xs:enumeration value="Theory in Biodiversity Science"/>
      <xs:enumeration value="Domestication Genomics"/>
      <xs:enumeration value="Evolution and Adaptation"/>
      <xs:enumeration value="Niche Detector for Hyperdiverse Tropical"/>
      <xs:enumeration value="Macroecology and Society"/>
      <xs:enumeration value="Sustainability and Complexity in Ape Habitat"/>
      <xs:enumeration value="iDiv Member"/>
      <xs:enumeration value="iDiv Associated Member"/>
      <xs:enumeration value="Other-specify"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dataOrigin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Field Survey"/>
      <xs:enumeration value="Field Experiment"/>
      <xs:enumeration value="Laboratory Experiment"/>
      <xs:enumeration value="Remote Sensing"/>
      <xs:enumeration value="Sensor Platform"/>
      <xs:enumeration value="Museum Collection"/>
      <xs:enumeration value="Data Compilation"/>
      <xs:enumeration value="Literature Research"/>
      <xs:enumeration value="Other-specify"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statusOfTheDataCollection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Completed"/>
      <xs:enumeration value="In Progress"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="country">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Afghanistan"/>
      <xs:enumeration value="Akrotiri"/>
      <xs:enumeration value="Albania"/>
      <xs:enumeration value="Algeria"/>
      <xs:enumeration value="American Samoa"/>
      <xs:enumeration value="Andorra"/>
      <xs:enumeration value="Angola"/>
      <xs:enumeration value="Anguilla"/>
      <xs:enumeration value="Antarctica"/>
      <xs:enumeration value="Antigua and Barbuda"/>
      <xs:enumeration value="Argentina"/>
      <xs:enumeration value="Armenia"/>
      <xs:enumeration value="Aruba"/>
      <xs:enumeration value="Ashmore and Cartier Islands"/>
      <xs:enumeration value="Australia"/>
      <xs:enumeration value="Austria"/>
      <xs:enumeration value="Azerbaijan"/>
      <xs:enumeration value="Bahamas, The"/>
      <xs:enumeration value="Bahrain"/>
      <xs:enumeration value="Bangladesh"/>
      <xs:enumeration value="Barbados"/>
      <xs:enumeration value="Bassas da India"/>
      <xs:enumeration value="Belarus"/>
      <xs:enumeration value="Belgium"/>
      <xs:enumeration value="Belize"/>
      <xs:enumeration value="Benin"/>
      <xs:enumeration value="Bermuda"/>
      <xs:enumeration value="Bhutan"/>
      <xs:enumeration value="Bolivia"/>
      <xs:enumeration value="Bosnia and Herzegovina"/>
      <xs:enumeration value="Botswana"/>
      <xs:enumeration value="Bouvet Island"/>
      <xs:enumeration value="Brazil"/>
      <xs:enumeration value="British Indian Ocean Territory"/>
      <xs:enumeration value="British Virgin Islands"/>
      <xs:enumeration value="Brunei"/>
      <xs:enumeration value="Bulgaria"/>
      <xs:enumeration value="Burkina Faso"/>
      <xs:enumeration value="Burma"/>
      <xs:enumeration value="Burundi"/>
      <xs:enumeration value="Cambodia"/>
      <xs:enumeration value="Cameroon"/>
      <xs:enumeration value="Canada"/>
      <xs:enumeration value="Cape Verde"/>
      <xs:enumeration value="Cayman Islands"/>
      <xs:enumeration value="Central African Republic"/>
      <xs:enumeration value="Chad"/>
      <xs:enumeration value="Chile"/>
      <xs:enumeration value="China"/>
      <xs:enumeration value="Christmas Island"/>
      <xs:enumeration value="Clipperton Island"/>
      <xs:enumeration value="Cocos (Keeling) Islands"/>
      <xs:enumeration value="Colombia"/>
      <xs:enumeration value="Comoros"/>
      <xs:enumeration value="Congo, Democratic Republic of the"/>
      <xs:enumeration value="Congo, Republic of the"/>
      <xs:enumeration value="Cook Islands"/>
      <xs:enumeration value="Coral Sea Islands"/>
      <xs:enumeration value="Costa Rica"/>
      <xs:enumeration value="Cote d'Ivoire"/>
      <xs:enumeration value="Croatia"/>
      <xs:enumeration value="Cuba"/>
      <xs:enumeration value="Cyprus"/>
      <xs:enumeration value="Czech Republic"/>
      <xs:enumeration value="Denmark"/>
      <xs:enumeration value="Dhekelia"/>
      <xs:enumeration value="Djibouti"/>
      <xs:enumeration value="Dominica"/>
      <xs:enumeration value="Dominican Republic"/>
      <xs:enumeration value="Ecuador"/>
      <xs:enumeration value="Egypt"/>
      <xs:enumeration value="El Salvador"/>
      <xs:enumeration value="Equatorial Guinea"/>
      <xs:enumeration value="Eritrea"/>
      <xs:enumeration value="Estonia"/>
      <xs:enumeration value="Ethiopia"/>
      <xs:enumeration value="Europa Island"/>
      <xs:enumeration value="Falkland Islands (Islas Malvinas)"/>
      <xs:enumeration value="Faroe Islands"/>
      <xs:enumeration value="Fiji"/>
      <xs:enumeration value="Finland"/>
      <xs:enumeration value="France"/>
      <xs:enumeration value="French Guiana"/>
      <xs:enumeration value="French Polynesia"/>
      <xs:enumeration value="French Southern and Antarctic Lands"/>
      <xs:enumeration value="Gabon"/>
      <xs:enumeration value="Gambia, The"/>
      <xs:enumeration value="Gaza Strip"/>
      <xs:enumeration value="Georgia"/>
      <xs:enumeration value="Germany"/>
      <xs:enumeration value="Ghana"/>
      <xs:enumeration value="Gibraltar"/>
      <xs:enumeration value="Glorioso Islands"/>
      <xs:enumeration value="Greece"/>
      <xs:enumeration value="Greenland"/>
      <xs:enumeration value="Grenada"/>
      <xs:enumeration value="Guadeloupe"/>
      <xs:enumeration value="Guam"/>
      <xs:enumeration value="Guatemala"/>
      <xs:enumeration value="Guernsey"/>
      <xs:enumeration value="Guinea"/>
      <xs:enumeration value="Guinea-Bissau"/>
      <xs:enumeration value="Guyana"/>
      <xs:enumeration value="Haiti"/>
      <xs:enumeration value="Heard Island and McDonald Islands"/>
      <xs:enumeration value="Holy See (Vatican City)"/>
      <xs:enumeration value="Honduras"/>
      <xs:enumeration value="Hong Kong"/>
      <xs:enumeration value="Hungary"/>
      <xs:enumeration value="Iceland"/>
      <xs:enumeration value="India"/>
      <xs:enumeration value="Indonesia"/>
      <xs:enumeration value="Iran"/>
      <xs:enumeration value="Iraq"/>
      <xs:enumeration value="Ireland"/>
      <xs:enumeration value="Isle of Man"/>
      <xs:enumeration value="Israel"/>
      <xs:enumeration value="Italy"/>
      <xs:enumeration value="Jamaica"/>
      <xs:enumeration value="Jan Mayen"/>
      <xs:enumeration value="Japan"/>
      <xs:enumeration value="Jersey"/>
      <xs:enumeration value="Jordan"/>
      <xs:enumeration value="Juan de Nova Island"/>
      <xs:enumeration value="Kazakhstan"/>
      <xs:enumeration value="Kenya"/>
      <xs:enumeration value="Kiribati"/>
      <xs:enumeration value="Korea, North"/>
      <xs:enumeration value="Korea, South"/>
      <xs:enumeration value="Kuwait"/>
      <xs:enumeration value="Kyrgyzstan"/>
      <xs:enumeration value="Laos"/>
      <xs:enumeration value="Latvia"/>
      <xs:enumeration value="Lebanon"/>
      <xs:enumeration value="Lesotho"/>
      <xs:enumeration value="Liberia"/>
      <xs:enumeration value="Libya"/>
      <xs:enumeration value="Liechtenstein"/>
      <xs:enumeration value="Lithuania"/>
      <xs:enumeration value="Luxembourg"/>
      <xs:enumeration value="Macau"/>
      <xs:enumeration value="Macedonia"/>
      <xs:enumeration value="Madagascar"/>
      <xs:enumeration value="Malawi"/>
      <xs:enumeration value="Malaysia"/>
      <xs:enumeration value="Maldives"/>
      <xs:enumeration value="Mali"/>
      <xs:enumeration value="Malta"/>
      <xs:enumeration value="Marshall Islands"/>
      <xs:enumeration value="Martinique"/>
      <xs:enumeration value="Mauritania"/>
      <xs:enumeration value="Mauritius"/>
      <xs:enumeration value="Mayotte"/>
      <xs:enumeration value="Mexico"/>
      <xs:enumeration value="Micronesia, Federated States of"/>
      <xs:enumeration value="Moldova"/>
      <xs:enumeration value="Monaco"/>
      <xs:enumeration value="Mongolia"/>
      <xs:enumeration value="Montserrat"/>
      <xs:enumeration value="Morocco"/>
      <xs:enumeration value="Mozambique"/>
      <xs:enumeration value="Namibia"/>
      <xs:enumeration value="Nauru"/>
      <xs:enumeration value="Navassa Island"/>
      <xs:enumeration value="Nepal"/>
      <xs:enumeration value="Netherlands"/>
      <xs:enumeration value="Netherlands Antilles"/>
      <xs:enumeration value="New Caledonia"/>
      <xs:enumeration value="New Zealand"/>
      <xs:enumeration value="Nicaragua"/>
      <xs:enumeration value="Niger"/>
      <xs:enumeration value="Nigeria"/>
      <xs:enumeration value="Niue"/>
      <xs:enumeration value="Norfolk Island"/>
      <xs:enumeration value="Northern Mariana Islands"/>
      <xs:enumeration value="Norway"/>
      <xs:enumeration value="Oman"/>
      <xs:enumeration value="Pakistan"/>
      <xs:enumeration value="Palau"/>
      <xs:enumeration value="Panama"/>
      <xs:enumeration value="Papua New Guinea"/>
      <xs:enumeration value="Paracel Islands"/>
      <xs:enumeration value="Paraguay"/>
      <xs:enumeration value="Peru"/>
      <xs:enumeration value="Philippines"/>
      <xs:enumeration value="Pitcairn Islands"/>
      <xs:enumeration value="Poland"/>
      <xs:enumeration value="Portugal"/>
      <xs:enumeration value="Puerto Rico"/>
      <xs:enumeration value="Qatar"/>
      <xs:enumeration value="Reunion"/>
      <xs:enumeration value="Romania"/>
      <xs:enumeration value="Russia"/>
      <xs:enumeration value="Rwanda"/>
      <xs:enumeration value="Saint Helena"/>
      <xs:enumeration value="Saint Kitts and Nevis"/>
      <xs:enumeration value="Saint Lucia"/>
      <xs:enumeration value="Saint Pierre and Miquelon"/>
      <xs:enumeration value="Saint Vincent and the Grenadines"/>
      <xs:enumeration value="Samoa"/>
      <xs:enumeration value="San Marino"/>
      <xs:enumeration value="Sao Tome and Principe"/>
      <xs:enumeration value="Saudi Arabia"/>
      <xs:enumeration value="Senegal"/>
      <xs:enumeration value="Serbia and Montenegro"/>
      <xs:enumeration value="Seychelles"/>
      <xs:enumeration value="Sierra Leone"/>
      <xs:enumeration value="Singapore"/>
      <xs:enumeration value="Slovakia"/>
      <xs:enumeration value="Slovenia"/>
      <xs:enumeration value="Solomon Islands"/>
      <xs:enumeration value="Somalia"/>
      <xs:enumeration value="South Africa"/>
      <xs:enumeration value="South Georgia and the South Sandwich Islands"/>
      <xs:enumeration value="Spain"/>
      <xs:enumeration value="Spratly Islands"/>
      <xs:enumeration value="Sri Lanka"/>
      <xs:enumeration value="Sudan"/>
      <xs:enumeration value="Suriname"/>
      <xs:enumeration value="Svalbard"/>
      <xs:enumeration value="Swaziland"/>
      <xs:enumeration value="Sweden"/>
      <xs:enumeration value="Switzerland"/>
      <xs:enumeration value="Syria"/>
      <xs:enumeration value="Taiwan"/>
      <xs:enumeration value="Tajikistan"/>
      <xs:enumeration value="Tanzania"/>
      <xs:enumeration value="Thailand"/>
      <xs:enumeration value="Timor-Leste"/>
      <xs:enumeration value="Togo"/>
      <xs:enumeration value="Tokelau"/>
      <xs:enumeration value="Tonga"/>
      <xs:enumeration value="Trinidad and Tobago"/>
      <xs:enumeration value="Tromelin Island"/>
      <xs:enumeration value="Tunisia"/>
      <xs:enumeration value="Turkey"/>
      <xs:enumeration value="Turkmenistan"/>
      <xs:enumeration value="Turks and Caicos Islands"/>
      <xs:enumeration value="Tuvalu"/>
      <xs:enumeration value="Uganda"/>
      <xs:enumeration value="Ukraine"/>
      <xs:enumeration value="United Arab Emirates"/>
      <xs:enumeration value="United Kingdom"/>
      <xs:enumeration value="United States"/>
      <xs:enumeration value="Uruguay"/>
      <xs:enumeration value="Uzbekistan"/>
      <xs:enumeration value="Vanuatu"/>
      <xs:enumeration value="Venezuela"/>
      <xs:enumeration value="Vietnam"/>
      <xs:enumeration value="Virgin Islands"/>
      <xs:enumeration value="Wake Island"/>
      <xs:enumeration value="Wallis and Futuna"/>
      <xs:enumeration value="West Bank"/>
      <xs:enumeration value="Western Sahara"/>
      <xs:enumeration value="Yemen"/>
      <xs:enumeration value="Zambia"/>
      <xs:enumeration value="Zimbabwe"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>